*{
    margin: 0;
    padding: 0;
}


.container{
background-color: rgb(155, 102, 39);
display: flex;

justify-content: center;


   

}
.card{
 
  margin: 30px;
  padding: 20;
 
}
img{

    width:300px;
    height: 400px;
    border-radius: 40px;
}
    

h1{
     text-align: center;
     color: brown;
     font-size: 2rem;
}
h3{
    color: blanchedalmond;
    font-weight: bolder;
    font-size: 30px;

    display: inline-block;
    margin-left: 30px;
    margin-top: 4px;
}
button{
    border-radius: 30px;
    float: right;
   cursor: pointer;
    border: 0;
    color: rgb(241, 207, 207);
    font-weight: bolder;
    background-color: rgb(9, 58, 90);
    height: 40px;
    width: 100px;
}

#container{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;

}
.style{
    background-color: brown;
  height: 200px;
  width: 400px;
  border: solid ;
  margin: 1rem;
}
